<!-- <html> -->
  <!-- <body>
    <h1><center>CO-2 Emission By Country</center></h1>
<center><button> Home </button>  <a href="index1.html"><button style="background-color:blue"> Prediction </button></a></center>
  </body>
</html> -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="/pre">
  <button><a href="index.html"> Home</a></button>
<button type="submit"><a href="index1.html"> Predict</a></button>
</form>
</body>
</html>