<html>
  <head>
     <center> <h1> Co2 Emission By Country Predictor </h1> </center>
  </head>
<body>
  <form action="/predict"  method="post" enctype="multipart/form-data">
 Country Name:<br><input type="text" placeholder="Enter the country name" name="cn"> 
 Country Code:<br><input type="text" placeholder="Enter the country code" name="cc"> 
 Indicator Name:<br><input type="text" placeholder="Enter the indicator name" name="in">
 Year:<br><input type="number" placeholder="Enter the year from 1960-2023" name="y"> 
 <center><input type="submit" value="predict"></center>

</form>
</body></html>
